#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 6rem;
}

.emoji {
  font-size: 2rem;
}

.path {
  word-break: break-all;
}

.copy {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem
}

.clip {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.clip-text {
  font-size: 1.5rem;
  border: 0
}

.actions {
  display: flex;
  justify-content: space-evenly;
}
