#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 6rem;
}

.path {
  word-break: break-all;
}

.copy {
  font-size: 2rem;
  cursor: pointer;
}

