#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 6rem;
}

.path {
  word-break: break-all;
}

.copy {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem
}

.clips {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.clip-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.6em 1.2em;
  transition: color 0.25s;
}

.clip-text:hover {
  color: #646cff;
}
